body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    padding:20px;
}

input,select {
    padding:10px;
    margin:10px;
    border:1px solid #ccc;
    border-radius:4px;
    width:95%;
}
button {
    background-color:#4CAF50;
    color:white;
    padding:10px 20px;
    border:none;
    border-radius:4px;
    cursor:pointer;
}
button:hover {
    background-color:#45a049;
}
.edit-btn {
    background-color:#008CBA;
}
.edit-btn:hover {
    background-color:#007bb5;
}
.delete-btn {
    background-color:#f44336;
}
.delete-btn:hover {
    background-color:#da190b;
}

.success {
    color:green;
    font-weight:bold;
}
.error {
    color:red;
    font-weight:bold;
}
table {
    width:100%;
    border-collapse:collapse;
}
th,td {
    border: 1px solid #ddd;
    padding:8px;
    text-align:left;
    align-items: center;
}
th {
    background-color:#122b9b;
    color:white;
}
